<link rel="stylesheet" type "text/css" href="css/style.css">

<div id="jdfsalk">

<form method="post" action="/blah">

	<h1>"Are these toppings correct?"</h1>

	<p><%= size %></p>
	<p><%= crust %></p>
	<p><%= sauce %></p>
	<p><%= cheese %></p>
	<p><%= meat %></p>
	<p><%= veggie %></p>

	<input type="submit" value="confirm order">

</form>

</div>