<link rel="stylesheet" type "text/css" href="css/style.css">

<form>
	<h1>Your <%=size1.join%> pizza will have:</h1>

	<form method = "get" action = "/the_end">      


		<% crust1.each do |crust_value, key| %>
			<% if crust_value == key %>	
				<p> <%= crust_value %> Crust </p>
				<img src = "/img/<%= crust_value %>.jpg"><br><br>
			<% end %>
		<% end %>

		<% sauce1.each do |sauce_value, key| %>
			<% if sauce_value == key %>	
				<p> <%= sauce_value %> Sauce </p>
				<img src = "/img/<%= sauce_value %>.jpg"><br><br>
			<% end %>
		<% end %>

		<% cheese1.each do |cheese_value, key| %>
			<% if cheese_value == key %> 
				<p> <%= cheese_value %> </p>
				<img src = "/img/<%= cheese_value %>.jpg"><br><br>
			<% end %>
		<% end %>

		<% meat1.each do |meat_value, key| %>
			<% if meat_value == key %> 
				<p> <%= meat_value %> </p>
				<img src = "/img/<%= meat_value %>.jpg"><br><br>
			<% end %>
		<% end %>

		<% veggie1.each do |veggie_value, key| %>
			<% if veggie_value == key %> 
				<p> <%= veggie_value %> </p>
				<img src = "/img/<%= veggie_value %>.jpg"><br><br>
			<% end %>
		<% end %>

	<a href="/topping_chooser">Order Again</a>

</form>